{% extends 'layout.html.twig' %}

{% block body %}
    {% for image in image %}
        {{ image }}<br />
        <img src="{{ asset('images/leanna1.jpg') }}" alt=head" width="100%">
        <img src="{{ asset('images/black.jpg') }}" alt=head" width="5%">
        <img src="{{ asset('images/green.jpg') }}" alt=head" width="5%">
        <img src="{{ asset('images/white.jpg') }}" alt=head" width="5%">
        <img src="{{ asset('images/red.jpg') }}" alt=head" width="5%">
    {% endfor %}

    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    {#this is the code for my side bar#}
<!--Ta page-->
    <div id="page">
         <nav id="sidebar">
                 <ul>
                        <li><a href="tonlien.php"></a> Ton Menu1</li>
                        <li><a href="tonlien.php"></a>Ton Menu2 </li>
                        <li><a href="tonlien.php"></a> Ton Menu3</li>
                        <li><a href="tonlien.php"></a>Ton Menu1</li>
                     </ul>
             </nav> 
     </div>

        <div id="page">
         <nav id="sidebarright">
                 <ul>
                        <li><a href="tonlien.php"></a> Ton Menu1</li>
                        <li><a href="tonlien.php"></a>Ton Menu2 </li>
                        <li><a href="tonlien.php"></a> Ton Menu3</li>
                        <li><a href="tonlien.php"></a>Ton Menu1</li>
                     </ul>
             </nav> 
         </div>


    <img src="{{ asset('images/leanna2.jpg') }}" alt=head" width="38%">
    <img src="{{ asset('images/white.jpg') }}" alt=head" width="38%">
{% endblock %}

